* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(https://m.media-amazon.com/images/I/71mzZmzWgyL._AC_UF894,1000_QL80_.jpg);
    background-size: contain;
}
h1 {
    font-family: fantasy;
    position: relative;
    text-align: center;
    color: rgb(218, 7, 7);
}
p {
    position: static;
    text-align: center;
    background-color: transparent;
    padding: 0px;
    color: azure;
}
.wordframe {
    position: relative;
    top: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-left: auto;
    background-color: blanchedalmond;
    opacity: 0.5;
    width: 420px;
    height: 450px;
    border: 1px solid rosybrown;
    box-shadow: 5%;
}
.playerz {
    /* align-content: center; */
    position: absolute;
    padding: 5%;
    width: 30%;
    height: 20%;
    color: azure;
  }
  
   
  .playerz form label {
    display: inline;
    text-align: center;
    font-size: 10pt;
    margin: 10px 0;
  }
  
  .playerz form input {
    /* display: block; */
    width: 100%;
    padding: 5px;
    border: 2px solid #ccc;
      }
    
  .playerz form button {
    margin-top: 20px;
    display: block;
    width: 100%;
    /* padding: 8px; */
    background-color: #ca1212;
    
  }
  table {
    align-content: center;
    text-align: center;
    padding:30px;
    border:none;
  }
  
  td {
    width: 30px;
    height: 30px;
    opacity: 30;
  }
  
  .blank {
    background: darkred; 
    width: 30px;
    height: 30px;
    opacity: 30;
  }
  
  .letter {
    width: 30px;
    height: 30px;
    font-size:18px;
    text-align:center;
    border: 2px solid #a10505;
  }
h2 {
    position: relative;
    margin-left: 2%;
    color: rgb(240, 12, 12);
   
}
ul {
    margin-left: 5%;
    padding: 2%;
    color: azure;
}
#checkAns {
    position: relative;
    margin-left: 50%;
}
#inputWord {
    position: relative;
    margin-left: 50%;
    margin-top: 10px;
    border-radius: 20%;
}